<link rel="stylesheet" href="countdown-area.component.css">

<div class="box-content-countdown">
        <div class="countdown-area">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="launching-title">WE'RE LAUNCHING SOON</h1>
                </div>
            </div>
        </div>
        <div class="social-media">
            <div class="row">
                <div class="col-sm-4">
                    <a href="#" class="media-icon">
                        <img src="../../assets/images/icon-facebook.svg" alt="Facebook icon">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="media-icon">
                        <img src="../../assets/images/icon-pinterest.svg" alt="Pinterest icon">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="media-icon">
                        <img src="../../assets/images/icon-instagram.svg" alt="Instagram icon">
                    </a>
                </div>
            </div>
        </div>
</div>