<link rel="stylesheet" href="countdown-area.component.css">

<div class="box-content-countdown">
        <div class="countdown-area">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="launching-title">WE'RE LAUNCHING SOON</h1>
                </div>
            </div>

            <div class=" template-timer">
                <div class="area-timer">
                    <div class=" box-timer">
                        <div class="split">
                            <p class="number">08</p>
                        </div>
                        
                    </div>
                    <div class="box-timer">
                        <div class="split">
                            <p class="number">23</p>
                        </div>
                    </div>
                    <div class="box-timer">
                        <div class="split">
                            <p class="number">55</p>
                        </div>
                    </div>
                    <div class=" box-timer">
                        <div class="split">
                            <p class="number">41</p>
                        </div>
                    </div>
                </div>

                <div class="area-captions">
                    <div class="caption">
                        <p>DAYS</p>
                    </div>
                    <div class="caption">
                        <p>HOURS</p>
                    </div>
                    <div class="caption">
                        MINUTES
                    </div>
                    <div class="caption">
                        SECONDS
                    </div>
                </div>
            
            </div>
        </div>
        <div class="social-media">
            <div class="row">
                <div class="col-sm-4">
                    <a href="#" class="media-icon">
                        <img src="../../assets/images/icon-facebook.svg" alt="Facebook icon">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="media-icon">
                        <img src="../../assets/images/icon-pinterest.svg" alt="Pinterest icon">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="#" class="media-icon">
                        <img src="../../assets/images/icon-instagram.svg" alt="Instagram icon">
                    </a>
                </div>
            </div>
        </div>
</div>